:root{
    --blue: #66bced;
    --bg: #ffffff;
    --shadow: 0 2px 2px rgb(0 0 0/0.5);
    --button: #ffffff;
    --button-background: #003b5d;
}

body{
    font-size: 1.2rem; /*semua font defnya 1.2 rem dikali 16px*/
    font-family: 'Roboto', sans-serif;
    min-height: 4000px; /*biar bisa scroll*/
}

/*.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url(img/waters.jpg); kebetulan gamau pake gambar jadi bg-color di .heronya gosa diapus */
    /* background-size: cover; supaya pas dikecilin dia ikut kecil  */
    /* background-position: center; */
    /* z-index: -1; /*biar ga numpuk,tpi kebetulan gk kepake*/
    /* filter: blur(5px); biar blur, tpi kebetulan gk pake gambar jdi gk bklan ngaruh  */



.hero{
    position: relative;
    min-height: 100vh; /*menuhin tinggi dari layar*/
    background-color: var(--blue);
}

.hero h1{
    text-shadow: var(--shadow);
}

.hero h1{
    font-family: 'Roboto', sans-serif;
    font-size: 6rem;
    font-weight:lighter;
    color:var(--bg)
}

.hero span{
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
}

.hero a{
    color: var(--button);
    background-color: var(--button-background);
    box-shadow: var(--shadow);
    font-size: medium;
}
/* yang ni utk style tombol tuu */
.hero a:hover{
    background-color: var(--button);
    color:var(--button-background);
}

.mynavbar{
    background-color: rgba(255,255 , 255, 0.4) !important;
    backdrop-filter: blur(5px);
}

.mynavbar .offcanvas{
    height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: black;
}

.mynavbar .nav-link{
    text-transform: uppercase;
    font-size: 1rem;
}

.mynavbar .nav-link:hover{
    color: var(--blue);
}

.home{
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    filter:grayscale(80%);
    background-color: rgb(234, 234, 234) ;
    margin-top: -4.65rem;
    padding-top: 20rem;
    padding-bottom: 5rem;
}

.home h2{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight:500;
    color: black;
}

.home h4{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight:400;
    color: black;
}

.home p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight:300;
    color: rgb(110, 110, 110);
}



/* ubah font size di tiap media query*/
/* laptop */
@media (max-width: 992px){
    html{
        font-size: 75%; /*75% dari rem nya*/
    }
    /* untuk ukuran box countdownnya */
    /* .simply-countdown > .simply-section {
        padding: 70px; 
    }*/
}

/* tablet */
@media (max-width: 768px){
    html{
        font-size: 65%; 
    }
    .mynavbar .nav-link{
        text-transform: uppercase;
        font-size: 1.8rem;
        text-align: center;
    }
}
/* hp */
@media (max-width: 576px){
    html{
        font-size: 60%; 
    }
}
